beautifulsoup4==4.9.1
blis==0.4.1
boilerpy3==1.0.2
bs4==0.0.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cymem==2.0.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Flask==1.1.2
Flask-Cors==3.0.9
futures==3.1.1
goslate==1.5.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
langcodes==2.1.0
marisa-trie==0.7.5
MarkupSafe==1.1.1
mord==0.6
msgpack==1.0.0
murmurhash==1.0.2
numpy==1.19.1
pandas==1.1.1
plac==1.1.3
preshed==3.0.2
PyDictionary==2.0.1
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
spacy==2.3.2
spacy-syllables==1.0.0
srsly==1.0.2
thinc==7.4.1
threadpoolctl==2.1.0
tqdm==4.48.2
urllib3==1.25.10
wasabi==0.8.0
Werkzeug==1.0.1
wincertstore==0.2
wordfreq==2.3.2
zipp==3.1.0
